@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  height: 100vh;
  background: linear-gradient(0deg, rgb(6, 119, 209) 0%, rgb(1, 202, 122));
  text-align: center;
  color: white;
}

body *{
  font-family: roboto, sans-serif;
}

#newgame {
  background: transparent;
  color: white;
  font-size: 30px;
  border: 5px double white;
  padding: 10px 20px;
  margin-top: 40px;
}

#won_msg{
	font-size: 40px;
	color: white;
	padding: 30px;
}
#lost_msg{
	font-size: 40px;
	color: red;
	padding: 30px;
}

h1 {
  color: wheat;
  text-align: center;
  font-size: 60px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
